  * {margin: 0; padding: 0;}  
           
div {  
   margin: 20px;  
 }  
           
ul {  
   list-style-type: none;  
   width: 100%;  
 }  
           
h3 {  
   font: bold 40px/1.5 Helvetica, Verdana, sans-serif;  
 }  
           
li img {  
   float: left;  
   margin: 0 15px 0 0;  
   width: 250px;
   height: auto;
 }  
           
li p {  
   font: 24px/1.5 Georgia, Times New Roman, serif;  
 }  
           
li {  
   padding: 30px;  
   overflow: auto;  
 }  
           
li:hover {  
   background: #eee;  
   cursor: pointer;  
 } 